@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experince,
  .experience-detail-container {
    margin-top: 2rem;
  }
  #profile,
  .section-conatiner {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-conatiner {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-container {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40hv;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer,
  nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-container,
  .contact-info-upper-container,
  container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .navnav-links li a {
    font-size: 1rem;
  }
  .experience-sub-titile {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .navnav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section_pic-container {
    width: auto;
    height: 46vh;
    justify-content: center;
  }

  .section_text_p2 {
    font-size: 1.25rem;
  }
  .titile {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
