/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #20232b;
}

html {
  scroll-behavior: smooth;
  overflow: auto;

}

p {
  color: rgb(255, 255, 255);
}

/* TRANSITIONS */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP_NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 0.9rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  cursor: default;
}

/* HAMBURGER_MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(231, 231, 231);
  transition: all 0.3ms ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3ms ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3ms ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */
section {
  padding-top: 4hv;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-conatiner {
  display: flex;
}

/* PROFILE */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.p-greet {
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.h1-name {
  font-size: 4rem;
}

.p-stack {
  margin-top: 10px;
}

.profile-top-pic {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  margin-top: 10px;
  text-align: center;
  /* font-size: 1.6rem; */
}

.section_text_p2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.socails-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
}

#exp-icon {
  width: 1.7rem;
  height: 1.7rem;
}



/* BUTTONS style */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.contact-btn-top {
  font-weight: 600;
  color: white;
  background: none;
  border-radius: 23px;
  width: 8rem;
  height: 50px;
  margin-top: 41px;
  border: rgb(162, 162, 164) 0.1rem solid;
}

.contact-btn-top:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(162, 162, 164) 0.1rem solid;
  background: rgb(60, 61, 72);
  color: rgb(229, 228, 228);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(47, 48, 60);
  color: rgb(229, 228, 228);
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  color: aliceblue;
  margin-top: 40px;
}

.btn-color-2:hover {
  border: rgb(162, 162, 164) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION! */
#about {
  position: relative;
  top: 65px;
}

.about-container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}


.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-para {
  line-height: 28px;
  font-size: 19px;

}

.about-container,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #20232b;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-conatiner {
  gap: 4rem;
  height: 80%;
}

.section_pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE */

#experince {
  position: relative;
  top: 300px;


}

.experience-sub-titile {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.exps {
  height: 280px;
  width: 200px;
  color: aliceblue;

}

#proj-btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.7rem;
  width: 6rem;
  border-radius: 7rem;
}

.experience-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 42px;
}

.artile-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* projects */
#projects {
  position: relative;
  top: 180px;
}

.color-container {

  box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.37);
  backdrop-filter: none;
  -webkit-backdrop-filter: blur(5px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #e7e4e4;
  background: rgb(35, 35, 42);
  background: linear-gradient(90deg, rgb(42, 42, 50) 0%, rgb(30, 28, 36) 40%, rgba(24, 23, 30, 0.9) 90%);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}


.project-des {
  color: #b5b5bf;
}

.project-title {
  margin: 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-underline-offset: 0.3em;
  text-decoration: underline;
}

pro.project-btn {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  border-color: rgb(202, 203, 216);
}

#project-img1 {
  width: 237px;
  height: 245px;
  object-fit: cover;
  object-position: 0px -49px;
}

#project-img2 {
  width: 237px;
  height: 245px;
  object-fit: cover;
  object-position: 0px -73px;
}

#project-img-1-2 {
  width: 237px;
  height: 245px;
}

/* Contact */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  top: 193px;

}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.btn-color-1 {
  padding: 1rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}

.email-icon {
  height: 2.5rem;
}

.contact-p {
  color: #20232b;
}

.footer-ruler {
  width: 50%;
  margin-left: 25%;
  background-color: aliceblue;
}

/* FOOTER */
footer {
  height: 26hv;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* new sections */